:root {
  scroll-behavior: smooth;
}
*,
:after,
:before,
html {
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5 !important;
}
body {
  color: #2d3748;
}

a {
  color: $greenLink;
  text-decoration: none;
  font-weight: 500;
}
a:active,
a:focus,
a:hover {
  color: $greenHover;
}

dl,
ol,
p,
table,
ul {
  margin: 0 0 1.5rem;
  font-size: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif;
  line-height: 1.3;
  color: #111;
}

h1 {
  font-size: 2.85rem;
  font-weight: 700;
  letter-spacing: -0.03rem;
}

h2 {
  font-size: 1.7rem;
  font-weight: 700;
  padding-bottom: 0.2rem;
}

h3 {
  font-size: $text-lgg;
  // color: #111;
}

h3,
h4 {
  font-weight: 700;
}

h4 {
  font-size: 1.3rem;
  // color: #111;
}

h5 {
  font-size: $text-lg;
  font-weight: 700;
}

.button,
[type="button"],
[type="submit"],
a.button,
button,
.href__button {
  display: inline-block;
  border: 2px solid $greenHover;
  border-radius: 5px;
  background: $greenHover;
  color: #fff;
  font-weight: 500;
  font-family: Helvetica Neue, Inter, -apple-system, BlinkMacSystemFont,
    Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  text-transform: none;
  padding: 0.6rem 0.9rem;
  margin: 0 0 0.5rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}
.button:active,
.button:focus,
.button:hover,
.href__button:active,
.href__button:focus,
.href__button:hover,
[type="button"]:active,
[type="button"]:focus,
[type="button"]:hover,
[type="submit"]:active,
[type="submit"]:focus,
[type="submit"]:hover,
a.button:active,
a.button:focus,
a.button:hover,
button:active,
button:focus,
button:hover {
  border: 2px solid $greenLink;
  color: #fff;
  background: $greenLink;
  text-decoration: none;
}

.button:disabled,
[type="button"]:disabled,
[type="submit"]:disabled,
a.button:disabled,
button:disabled,
.href__button:disabled {
  cursor: default;
  pointer-events: none;
}
.button:active,
[type="button"]:active,
[type="submit"]:active,
a.button:active,
button:active,
.href__button:active {
  transform: scale(0.95);
}

.button.muted,
button.muted,
a.button.muted,
.href__button.muted {
  cursor: not-allowed;
  border: 0px;
  opacity: 0.5;
  color: #4a5568 !important;
  background: #cbd5e0 !important;
}
.button.muted:active,
.button.muted:focus,
.button.muted:hover,
a.button.muted:active,
a.button.button.muted:focus,
a.button.muted:hover {
  color: #111;
  border: 2px solid #d9d9d9;
  background: #d9d9d9;
}

.container,
.quotations {
  max-width: 1024px;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
}

.footer,
.footer div {
  display: flex;
  align-items: center;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

ul li p {
  margin: 0;
}

ul li ul {
  padding-left: 1rem;
  margin: 0;
}

ul li ul li {
  margin: 0.25rem 0;
}

ol li ol {
  margin-bottom: 0;
}
ul {
  padding: 0;
}

ul li {
  position: relative;
  list-style-type: none;
  margin-bottom: 0.3rem;
  padding-left: 1.5rem;
  margin-left: 0.5rem;
}

ul li.task-list-item {
  padding-left: 0;
  margin-left: 0;
}
ul li.task-list-item:before {
  content: "";
}
ul li:before {
  content: "\2022 ";
  position: absolute;
  left: 0;
  color: #929292;
  font-size: 22px;
  line-height: 1.1;
}
.anchor.before {
  position: absolute;
  top: 10px;
  left: 0;
  transform: translateX(-100%);
  padding-right: 4px;
  font-size: $text-lg;
}
.page a:not(.button):not(.anchor) {
  padding: 1px 2px;
  border-radius: 4px;
}

.App-wrapper {
  margin-top: 55px;
  padding: 40px 0 0;
  min-height: calc(100vh - 190px);
}
h1,
h1:not(:first-child),
h2,
h2:not(:first-child),
h3,
h3:not(:first-child),
h4,
h4:not(:first-child),
h5,
h5:not(:first-child) {
  margin: 0 0 1rem;
}

.block {
  display: flex !important;
  opacity: 1;
}
.hidden {
  display: none !important;
  opacity: 0;
}

#home {
  padding-top: 50px;
  background: $wave1__main;
}

.App {
  background: $wave1__main;
}

#Blog {
  background: #fff;
}

@media (min-width: 620px) {
  .App-wrapper {
    margin-top: 100px;
    padding: 60px 0 0;
    min-height: calc(100vh - 360px);
  }
  body {
    font-size: $text-base;
  }
  .container,
  .quotations {
    padding: 0 2rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0 0 2rem;
  }
  dl,
  ol,
  p,
  table,
  ul {
    margin: 0 0 1.5rem;
    font-size: $text-base;
  }
  ul li {
    padding-left: 1.5rem;
    margin-left: 1.5rem;
  }
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 1.85rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.4rem;
  }
  .button,
  [type="button"],
  [type="submit"],
  a.button,
  button {
    padding: 0.75rem 1.25rem;
  }
}

// DARK MODE
.dark {
  html {
    background-color: $dark__main;
  }
  background-color: $dark__main;
  color: $dark__text !important;
  //transition: background-color 0.25s ease-in-out;

  #home {
    background-color: $dark__main;
  }
  .App,
  #Blog {
    background: $dark__alt;
  }
  a {
    color: $darkLink;
  }
  a:active,
  a:focus,
  a:hover {
    color: $darkLinkHover;
    background: transparent;
  }
  li,
  ol,
  p,
  ul {
    color: $dark__text !important;
  }
  h2 {
    border-color: #303030;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #eee;
  }

  .button,
  [type="button"],
  [type="submit"],
  a.button,
  button,
  .href__button {
    color: #fff !important;
    border: 2px solid transparent;
    background: $darkLink !important;
  }
  .button:disabled,
  [type="button"]:disabled,
  [type="submit"]:disabled,
  a.button:disabled,
  button:disabled {
    cursor: default;
    pointer-events: none;
    background-color: #4a5568 !important;
    border: 0px;
    opacity: 0.3;
  }
  .button:active,
  .button:focus,
  .button:hover,
  .href__button:active,
  .href__button:focus,
  .href__button:hover,
  [type="button"]:active,
  [type="button"]:focus,
  [type="button"]:hover,
  [type="submit"]:active,
  [type="submit"]:focus,
  [type="submit"]:hover,
  a.button:active,
  a.button:focus,
  a.button:hover,
  button:active,
  button:focus,
  button:hover {
    border: 2px solid transparent;
    background: $darkLinkHover !important;
    color: #fff;
  }
} // end dark mode

strong {
  font-weight: 700;
}
