.hero-main {
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 55px;
  height: 100%;
  background-color: $wave1__main;
  .container {
    max-width: 800px;
    padding: 0 1.5rem;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;

    .hero {
      margin: 0 auto;
      font-size: 1.1rem;
      padding-bottom: 2rem;

      h1 {
        margin-top: 2rem;
        font-weight: 700;
        font-size: 3.8rem;
        margin-bottom: 1.5rem;
        letter-spacing: -0.03rem;
      }

      p {
        color: rgba(0, 0, 0, 0.6);
        font-size: 1.25rem;
        margin: 0 0 1.5rem;
      }

      .warno {
        align-items: center;
        flex-direction: column;
        border-radius: 6px;
        margin: 2rem 0;
        padding: 1.5rem;
        text-align: center;
        background: radial-gradient(
          circle at 20% 20%,
          $greenLink 25%,
          $greenHover 100%
        );
        box-shadow: 0.5rem 1.25rem 1.75rem 0 rgba(100, 110, 140, 0.4);
        color: hsla(0, 0%, 100%, 0.9);

        .hero-avatar {
          margin-top: 0.5rem;
          border-radius: 50%;
          width: 120px;
        }

        h3 {
          margin: 1rem 0 0.75rem;
          font-size: 1.5rem;
          font-weight: 500;
          color: #fff !important;
        }

        p {
          font-size: 1.15rem;
          color: hsla(0, 0%, 100%, 0.8) !important;
        }

        a.button {
          font-size: $text-lg;
          padding: 1rem 1.5rem;
          border: none !important;
          background: #fff;
          color: $greenLink;
        }

        a.button:active,
        a.button:focus,
        a.button:hover {
          color: $greenHover;
        }
      } //END WARNO

      img {
        max-width: 100%;
        height: auto;
      }
    } //END HERO

    .socials {
      display: flex;
      align-items: center;
    }
  } // END Container
} // END main-content

@media (max-width: 500px) {
  .hero-main {
    margin-top: 50px;
    padding-bottom: 50px;
    // height: calc(75vh - 100px);
  }
  .hero {
    padding-bottom: 2rem;
  }
}

@media (min-width: 620px) {
  .hero-main {
    min-height: calc(75vh - 50px);

    .container {
      padding: 0 2rem;

      .warno {
        display: flex;
      }
    }
  }
  .hero {
    padding-bottom: 2rem;
  }
} // END media 620

@media screen and (min-width: 750px) {
  .hero-main {
    display: flex;
    align-items: center;
    font-size: $text-lg;
    line-height: 1.5;

    .opord {
      flex: 2 1;
      margin-right: 3rem;

      p {
        max-width: 450px;
      }
    }

    .hero {
      display: flex;
      align-items: center;
      font-size: $text-lg;
      line-height: 1.5;
      padding-bottom: 2rem;

      p {
        font-size: 1.5rem;
        max-width: 550px;
      }

      h1 {
        font-size: 3.5rem;
      }
    } // END HERO

    .warno {
      flex: 1 1;

      .hero-avatar {
        display: block;
      }

      .button {
        margin-right: 0.5rem;
      }
    } // END WARNO
  } // END main-content
} // END media 750

@media screen and (min-width: 1200px) {
  .hero-main {
    .container {
      .warno {
        margin: 0;
        padding: 2rem;
      }
    }
  }
}

.dark {
  .hero-main {
    background-color: $dark__main;

    .container {
      h1 {
        color: #eee;
      }

      p {
        color: #b3b9c5;
      }
      .warno {
        background: rgba(0, 0, 0, 0.2);
        box-shadow: none;

        a.button {
          background: #111 !important;
          color: rgba($darkLink, 0.75) !important;
        }
        a.button:active,
        a.button:focus,
        a.button:hover {
          background: #080808 !important;
          color: $darkLink !important;
        }
      }
    }
  }
}
