$animate-delay: 0.5s;
$nav__bg: #d0dddb;
$wave1__main: #d0dddb;
$wave2__main: #a1bbb6;
$wave3__main: #6b8882;
$wave4__main: #4c7178;
$wave5__main: #a1bbb6;
$wave6__main: #4c7178;
$dark__main: #202020;
$dark__alt: #0f0f0f;
$greenLink: #2d9c2d;
$greenHover: #1f6b1f;
$darkLink: #34ba34;
$darkLinkHover: #109e10;

// sizes
$top-margin: 4rem;
$text-sm: 0.875rem;
$text-base: 1.1rem;
$text-lg: 1.25rem;
$text-lgg: 1.5rem;
$text-xl: 2rem;
